{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
    <h1>Formation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.libelle }}</td>
                <td>
                    <button class="btn btn-primary"><a href="{{ path('formation_show', {'id': formation.id}) }}" style="color:white">Voir</a></button>
                    <button class="btn btn-primary"><a href="{{ path('formation_edit', {'id': formation.id}) }}" style="color:white">Editer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn btn-success"> <a href="{{ path('formation_new') }}" style="color:white">Create new</a></button>
{% endblock %}
