{% extends 'base.html.twig' %}

{% block title %} Prostage - Rechercher {% endblock %}

{% block titreslider1 %} Prostage - Rechercher {% endblock %}

{% block titreslider2 %} Prostage - Rechercher {% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
<div class="alert alert-warning" role="alert">
    Le champs que vous avez entré est introuvable
</div>
{% endfor %}

<div class="row">
    <div class="col-4">



        {{ form_start(form) }}
        {{ form_errors(form) }}


        {{ form_end(form) }}
    </div>
    <div class="col-4">

        {{ form_start(form2) }}
        {{ form_errors(form2) }}


        {{ form_end(form2) }}
    </div>

</div>


{% endblock %}